* {
  margin: 0;
  padding: 0;

  font-family: "Figtree", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "geomanist";
  src: url("./fonts/geomanist.ttf");
}
@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis.otf");
}

.home {
  font-family: "Raleway", sans-serif;
}

/* src/index.css */

/* Hide increment/decrement buttons in Webkit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increment/decrement buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.navbar {
  will-change: transform;
}

.navbar-visible {
  transform: translateX(0);
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #fff; /* white background */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #000; /* black handle */
  border-radius: 10px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* darker black on hover */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
